<%= @client.name %><br>

<li>
<p>Client image:</p>
<img src="<%= @client.image %>" height="300" width=300><br>
</li>


<li>
<p>Client id:</p>
<%=@client.id %><br>
</li><br>

<li>
<p>Client Requirements:</p>
<%= @client.requirements %><br>
</li><br>

<li>
<p>Client Address:</p>
<%= @client.address %><br>
</li>



<a href="<%=@client.id %>/edit">Edit client</a>


<form action="/clients/<%= @client.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete client">
</form>